/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/*div.zone{border: dotted; height: 100px; width: 480px;}*/

div.zone {
    border: dotted;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px #555;
    text-align: center;
}

#droplabel {
	text-align: center;
	position: relative;
	top: 45%;
}

#map { height: 380px; margin-top: 10px;}

html{height: 100%;}
body{height: 100%;  margin: 0; padding: 0;}
div.wrapper{height: 100%;}
p.centrage {text-align: center; margin-top: 5px;}


/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
	
		
}